@inherits System.Web.Mvc.WebViewPage<int>
<html>
<body>
    <form method="post" action="/f2/form/123">
        <input type="hidden" name="value" value="@Model" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
