@inherits System.Web.Mvc.WebViewPage<int>
<html>
<body>
    <form method="post" action="@Request.RawUrl">
        <input type="hidden" name="ModelValue" value="@Model" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
